<!--begin home section -->
<section class="home-section" id="contact">
  <div class="home-section-overlay"></div>

  <!--begin container -->
  <div class="container">

    <!--begin row -->
    <div class="row">

      <!--begin col-md-8-->
      <div class="col-md-6 text-left padding-top-20">
        <h1>Đăng ký cơ sở lưu trú<br>
          của bạn với Gotadi ngay hôm nay!</h1>
        <p>Tiếp cận thêm khách hàng tiềm năng - tăng doanh số bán phòng. Miễn phí sử dụng hệ thống đặt vé máy bay trực
          tuyến của chúng tôi.</p>
      </div>
      <!--end col-md-8-->

      <div class="col-md-6 newsletter_form_box text-center padding-bottom-20">

        <!--begin success message -->
        <p class="contact_success_box" style="display:none;">We received your message and you'll hear from us soon.
          Thank You!</p>
        <!--end success message -->

        <!--begin contact form -->
        <form id="contact-form" [formGroup]="signInForm" class="contact padding-bottom-20" (submit)="doSendForm()"
          method="post">

          <div>

            <input class="contact-input white-input green form-control" formControlName="hotelName"
              placeholder="Tên khách sạn / Cơ sở lưu trú*" type="text">
            <div *ngIf="submitted && signInForm.controls['hotelName'].errors" style="color: red">
              <div *ngIf="signInForm.controls['hotelName'].errors.required">
                Tên khách sạn không được để trống
              </div>
              <div *ngIf="signInForm.controls['hotelName'].errors.maxlength">
                  Tên khách sạn không được quá 150 kí tự
                </div>
            </div>
          </div>
          <div>
            <input class="contact-input white-input green form-control" formControlName="address" placeholder="Địa chỉ*"
              type="text">
            <div *ngIf="submitted && signInForm.controls['address'].errors" style="color: red">
              <div *ngIf="signInForm.controls['address'].errors.required">
                Địa chỉ khách sạn không được để trống
              </div>
              <div *ngIf="signInForm.controls['address'].errors.maxlength">
                  địa chỉ khách sạn không được quá 150 kí tự
                </div>
            </div>
          </div>
          <div>
            <input class="contact-input white-input green form-control" formControlName="phoneNumber"
              placeholder="Điện thoại*" type="text">
            <div *ngIf="submitted && signInForm.controls['phoneNumber'].errors" style="color: red">
              <div *ngIf="signInForm.controls['phoneNumber'].errors.required">
                Số điện thoại khách sạn không thể để trống
              </div>
              <div *ngIf="signInForm.controls['phoneNumber'].errors.pattern">
                  Số điện thoại khách sạn không hợp lệ 
                </div>
                <div *ngIf="signInForm.controls['phoneNumber'].errors.maxlength">
                    Số điện thoại không được quá 15 kí tự
                  </div>
                  <div *ngIf="signInForm.controls['phoneNumber'].errors.minlength">
                      Số điện thoại không được ít hơn 10 kí tự
                    </div>
            </div>
          </div>
          <div>
            <input class="contact-input white-input green form-control" formControlName="email" placeholder="Email*"
              type="email">
            <div *ngIf="submitted && signInForm.controls['email'].errors" style="color: red">
              <div *ngIf="signInForm.controls['email'].errors.required">
                Email không thể để trống
              </div>
              <div *ngIf="signInForm.controls['email'].errors.email">
                  Email không hợp lệ
                </div>
              <div *ngIf="signInForm.controls['email'].errors.maxlength">
                Email không được quá 100 kí tự
              </div>
            </div>
          </div>
          <div>
            <input class="contact-input white-input green form-control" formControlName="fullName"
              placeholder="Người liên hệ*" type="text">
            <div *ngIf="submitted && signInForm.controls['fullName'].errors" style="color: red">
              <div *ngIf="signInForm.controls['fullName'].errors.required">
                Tên của người liên hệ không thể để trống
              </div>
              <div *ngIf="signInForm.controls['fullName'].errors.maxlength">
                Tên của người liên hệ không được quá 120 kí tự
              </div>
            </div>
          </div>
          <button type="submit" class="btn btn-blue scrool green">ĐĂNG KÝ NGAY!</button>
        </form>
        <!--end contact form -->
        <!--begin newsletter_form_box -->

        <!--end newsletter_form_box -->

      </div>
    </div>
    <!--end row -->

  </div>
  <!--end container -->

</section>
<!--end home section -->

<!--begin features section -->
<section class="section-grey section-bottom-border" id="features">

  <!--begin container -->
  <div class="container">

    <!--begin row -->
    <div class="row">

      <!--begin col-md-12-->
      <div class="col-md-12 text-center padding-bottom-10">
        <h2 class="section-title">CAM KẾT PHÁT TRIỂN CÙNG LỢI ÍCH CỦA CƠ SỞ LƯU TRÚ</h2>
      </div>
      <!--end col-md-12 -->

    </div>
    <!--end row -->

    <!--begin row -->
    <div class="row">

      <!--begin col-md-4-->
      <div class="col-md-6">
        <div class="feature-box wow fadeIn" data-wow-delay="0.25s"
          style="visibility: visible; animation-delay: 0.25s; animation-name: fadeIn;"> <i class="fas fa-percent"></i>
          <h5>Mức chiết khấu hoa hồng thấp, rõ ràng, minh bạch.</h5>
          <p><BR>
            Tỷ lệ hoa hồng được ghi rõ trong hợp đồng giữa Gotadi và Quý CSLT. <BR>
            Gotadi đảm bảo chính sách hỗ trợ giá bán cho CSLT thông qua các chương trình giá ưu đãi hoặc khuyến mãi,
            khách hàng của Gotadi có được giá tốt hơn so với thị trường nhưng đảm bảo không giảm lợi ích của CSLT. </p>
        </div>
      </div>
      <!--end col-md-4 -->

      <!--begin col-md-4-->
      <div class="col-md-6">
        <div class="feature-box wow fadeIn" data-wow-delay="0.5s"
          style="visibility: visible; animation-delay: 0.5s; animation-name: fadeIn;"> <i class="fas fa-globe"></i>
          <h5>Hiển thị nơi lưu trú trực tuyến, quảng bá hệ thống toàn cầu, tăng cường tối đa khả năng tiếp cận khách
            hàng.</h5>
          <p>Nguồn khách hàng trực tiếp từ Website, mobile app của Gotadi, đại lý doanh nghiệp, đại lý du lịch và mạng
            lưới cộng tác viên của Gotadi.
            Nguồn khách hàng thông qua chương trình kết nối của Gotadi với các trang thương mại điện tử Tiki, Momo,
            Zalopay, VietelPay, Fastgo, Hoa sao…ngân hàng VIB, VP bank. đối tác tại Hồng Kông, Đài Loan, Thổ Nhĩ Kỳ…và
            các quốc gia khác thông qua công nghệ API. </p>
        </div>
      </div>
      <!--end col-md-4 -->

    </div>
    <!--end row -->

    <!--begin row -->
    <div class="row">
      <!--begin col-md 4-->
      <div class="col-md-6">
        <div class="feature-box wow fadeIn" data-wow-delay="0.75s"
          style="visibility: visible; animation-delay: 0.75s; animation-name: fadeIn;"> <i class="fas fa-medal"></i>
          <h5>Trang ưu đãi riêng dành cho khách sạn giá tốt</h5>
          <p>Đươc giới thiệu và quảng bá miễn phí thông qua kênh truyền thông của Gotadi, Cẩm nang du lịch, Sản phẩm Du
            lịch tự túc, các chiến dịch quảng cáo và tiếp cận thị trường khác…</p>
        </div>
      </div>
      <!--end col-md-4 -->

      <!--begin col-md-4-->
      <div class="col-md-6">
        <div class="feature-box wow fadeIn" data-wow-delay="1s"
          style="visibility: visible; animation-delay: 1s; animation-name: fadeIn;"> <i class="fas fa-gifts"></i>
          <h5>Dịch vụ tặng kèm</h5>
          <p>Hệ thống book vé máy bay trực tuyến dành cho đại lý của Gotadi với mức phí xuất vé ưu đãi.
            .</p>
        </div>
      </div>
    </div>
    <!--end row -->
  </div>
  <!--end container -->
</section>
<!--end features section -->


<!--begin section-grey -->
<section class="section-grey" style="background:url(assets/images/img-01-w.jpg) fixed">

  <!--begin container -->
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center padding-bottom-10">
        <h2 class="section-title">QUY TRÌNH ĐƠN GIẢN - NHANH CHÓNG - HOÀN TOÀN MIỄN PHÍ</h2>
      </div>
    </div>
    <div class="col-md-12 padding-bottom-10">
      <ul class="benefits text-dark">
        <li><i class="fa fa-check"></i> Bạn chỉ cần đăng ký thông tin thành công.</li>
        <li><i class="fa fa-check"></i> Đội ngũ hỗ trợ 24/7 của chúng tôi sẽ liên hệ và giúp bạn cập nhật thông tin hoàn
          chỉnh bước đầu lên Extranet - Thông tin mà CSLT cung cấp càng chi tiết (đặc biệt là chính sách giá, hình ảnh
          khách sạn) thì quy trình càng nhanh chóng.</li>
        <li><i class="fa fa-check"></i> Sau khi thông tin được kiểm duyệt là chính xác, Gotadi sẽ cho hiển thị CSLT của
          bạn trên trang bán và tiếp cận khách hàng chất lượng, đáng tin cậy của chúng tôi.</li>
      </ul>


    </div>

    <!--begin row -->
    <div class="row">

      <!--begin col-md-6 -->
      <div class="col-md-7 margin-top-20">
        <div class="nav flex-column nav-pills margin-right-25" id="v-pills-tab" role="tablist"
          aria-orientation="vertical"> <a class="nav-link active" id="v-pills-1-tab" data-toggle="pill"
            href="#v-pills-1" role="tab" aria-controls="v-pills-1" aria-selected="true">

            <!--begin features-second -->
            <div class="features-second">
              <div class="dropcaps-circle"> <i class="fas fa-envelope-open-text"></i> </div>
              <h5 class="margin-bottom-5">Gửi hợp đồng mẫu</h5>
              <p>Hợp đồng mẫu được gửi (Với các điều khoản sẽ được thỏa thuận) cùng Hotel Factsheet đến CSLT qua Email.
              </p>
            </div>
            <!--end features-second-->
          </a> <a class="nav-link" id="v-pills-2-tab" data-toggle="pill" href="#v-pills-2" role="tab"
            aria-controls="v-pills-2" aria-selected="false">

            <!--begin features-second-->
            <div class="features-second">
              <div class="dropcaps-circle"> <i class="fas fa-pen"></i> </div>
              <h5 class="margin-bottom-5">CSLT điền thông tin gửi lại Gotadi</h5>
              <p>Sau khi điền đầy đủ thông tin, Cơ sở lưu trú vui lòng gửi lại Gotadi. </p>
            </div>
            <!--end features-second-->

          </a> <a class="nav-link" id="v-pills-4-tab" data-toggle="pill" href="#v-pills-4" role="tab"
            aria-controls="v-pills-4" aria-selected="false">

            <!--begin features-second-->
            <div class="features-second">
              <div class="dropcaps-circle"> <i class="fas fa-database"></i> </div>
              <h4 class="margin-bottom-5">Hỗ trợ nhập thông tin</h4>
              <p>Gotadi hỗ trợ nhập thông tin khách sạn lên hệ thống Gotadi Extranet.</p>
            </div>
            <!--end features-second-->

          </a> <a class="nav-link" id="v-pills-3-tab" data-toggle="pill" href="#v-pills-3" role="tab"
            aria-controls="v-pills-3" aria-selected="false">

            <!--begin features-second-->
            <div class="features-second">
              <div class="dropcaps-circle"> <i class="fas fa-signature"></i> </div>
              <h4 class="margin-bottom-5">Bàn giao tài khoản</h4>
              <p>Sau khi thống nhất các điều khoản hợp đồng, Gotadi sẽ bàn giao tài khoản Gotadi Extranet cho CSLT.</p>
            </div>
            <!--end features-second-->

          </a> <a class="nav-link" id="v-pills-5-tab" data-toggle="pill" href="#v-pills-5" role="tab"
            aria-controls="v-pills-5" aria-selected="false">

            <!--begin features-second-->
            <div class="features-second">
              <div class="dropcaps-circle"> <i class="fas fa-bullhorn"></i> </div>
              <h4 class="margin-bottom-5">Kích hoạt và bán phòng</h4>
              <p>CSLT kiểm tra dữ liệu trên Extranet, thông báo cho Gotadi để kích hoạt hiển thị và bán phòng trên
                Gotadi.com</p>
            </div>
            <!--end features-second-->

          </a> </div>
      </div>
      <!--end col-md-6 -->

      <!--begin col-md-6 -->
      <div class="col-md-5">
        <div class="tab-content margin-left-20 margin-top-50" id="v-pills-tabContent">
          <div class="tab-pane fade show active" id="v-pills-1" role="tabpanel" aria-labelledby="v-pills-1-tab"> <img
              src="assets/images/steps-hotel-01.png" class="width-100" alt="pic"> </div>
          <div class="tab-pane fade" id="v-pills-3" role="tabpanel" aria-labelledby="v-pills-3-tab"> <img
              src="assets/images/steps-hotel-03.png" class="width-100" alt="pic"> </div>
          <div class="tab-pane fade" id="v-pills-2" role="tabpanel" aria-labelledby="v-pills-2-tab"> <img
              src="assets/images/steps-hotel-02.png" class="width-100" alt="pic"> </div>
          <div class="tab-pane fade" id="v-pills-4" role="tabpanel" aria-labelledby="v-pills-4-tab"> <img
              src="assets/images/steps-hotel-04.png" class="width-100" alt="pic"> </div>
          <div class="tab-pane fade" id="v-pills-5" role="tabpanel" aria-labelledby="v-pills-5-tab"> <img
              src="assets/images/steps-hotel-05.png" class="width-100" alt="pic"> </div>
        </div>
      </div>
      <!--end col-md-6 -->

    </div>
    <!--end row -->

  </div>
  <!--end container -->

</section>
<!--end section-grey -->


<!--begin section-white -->
<section class="section-white no-padding">

  <!--begin container-->
  <div class="container padding-bottom-40 padding-top-40">
    <div class="row">
      <div class="col-md-12 text-center padding-bottom-10">
        <h2 class="section-title">NGUỒN KHÁCH HÀNG TIỀM NĂNG CỦA CHÚNG TÔI</h2>
      </div>
    </div>


    <!--begin row-->
    <div class="row no-gutters padding-bottom-20 border-bottom">
      <!--begin col-md-6-->
      <div class="col-md-6 margin-top-35">
        <h5>Khách hàng trực tiếp từ website, Mobile app</h5>
        <p>Với hàng triệu lượt truy cập mỗi ngày.</p>
      </div>
      <!--end col-sm-6-->
      <!--begin col-md-6-->
      <div class="col-md-6 margin-top-35"> <img src="assets/images/1.png" class="width-100" alt=""> </div>
      <!--end col-sm-6-->
    </div>
    <!--end row-->

    <!--begin row-->
    <div class="row no-gutters padding-bottom-20 border-bottom">
      <!--begin col-md-6-->
      <div class="col-md-6 margin-top-35">
        <h5>Khách hàng đại lý</h5>
        <p>Nguồn khách hàng là đại lý doanh nghiệp, đại lý du lịch và mạng lưới cộng tác viên của Gotadi.</p>
      </div>
      <!--end col-sm-6-->
      <!--begin col-md-6-->
      <div class="col-md-6 margin-top-35"> <img src="assets/images/logo-3.png" class="width-100" alt=""> </div>
      <!--end col-sm-6-->
    </div>
    <!--end row-->


    <!--begin row-->
    <div class="row no-gutters padding-bottom-20 border-bottom">
      <!--begin col-md-6-->
      <div class="col-md-6 margin-top-35">
        <h5>Khách hàng từ các trang thương mại điện tử</h5>
        <p> Nguồn khách hàng thông qua chương trình kết nối của Gotadi với các trang thương mại điện tử Tiki, Momo,
          Zalopay, VietelPay, Fastgo, Hoa sao…ngân hàng VIB, VP bank.</p>
      </div>
      <!--end col-sm-6-->
      <!--begin col-md-6-->
      <div class="col-md-6 margin-top-35"> <img src="assets/images/logo-2.png" class="width-100" alt=""> </div>
      <!--end col-sm-6-->
    </div>
    <!--end row-->


    <!--begin row-->
    <div class="row no-gutters">
      <!--begin col-md-6-->
      <div class="col-md-6 margin-top-35">
        <h5>Khách hàng Quốc tế</h5>
        <p>Nguồn khách hàng quốc tế từ các đối tác tại Hồng Kông, Đài Loan, Thổ Nhĩ Kỳ… và các quốc gia khác thông qua
          công nghệ API. Khách hàng quốc tế thông qua các đối tác liên kết B2B Hotel Supliers của GTD trên toàn cầu.</p>
      </div>
      <!--end col-sm-6-->
      <!--begin col-md-6-->
      <div class="col-md-6 margin-top-35"> <img src="assets/images/maps.png" class="width-100" alt=""> </div>
      <!--end col-sm-6-->
    </div>
    <!--end row-->

  </div>
  <!--end container-->

</section>
<!--end section-white -->



<!--begin newsletter section -->
<section class="counter-area small-paddings" id="newsletter-section"
  style="background-image:url(assets/images/bg1-1.jpg)">

  <!--begin container -->
  <div class="container">

    <!--begin row -->
    <div class="row">
      <!--begin col-md-12 -->
      <div class="col-md-12 text-center padding-top-50 padding-bottom-20">
        <h2 class="white-text">Tham gia và bắt đầu chào đón khách ngay hôm nay</h2>
      </div>
      <!--end col-md-12 -->

      <!--begin col-md-12-->
      <div class="col-md-12 padding-bottom-40">

        <!--begin newsletter_form_wrapper -->
        <div class="newsletter_form_wrapper" data-wow-delay="0.25s">

          <!--begin newsletter_form_box -->
          <div class="newsletter_form_box">
            <a href="#contact" class="scrool">
              <!-- <form id="newsletter-hero-form">
              <input type="submit"onClick="document.getElementById('form-dangky').scrollIntoView();" value="ĐĂNG KÝ CƠ SỞ LƯU TRÚ NGAY!" id="submit-button-hero-newsletter">
            </form> -->
            </a> </div>
          <!--end newsletter_form_box -->

        </div>
        <!--end newsletter_form_wrapper -->

      </div>
      <!--end col-md-12 -->

    </div>
    <!--end row -->

  </div>
  <!--end container -->

</section>
<!--end newsletter section -->


<!--begin section-white -->
<section class="section-white">

  <!--begin container-->
  <div class="container">

    <!--begin row-->
    <div class="row">

      <!--begin col-md-6-->
      <div class="col-md-6"> <img src="assets/images/621164-PNUBHQ-822.jpg" class="hero-image width-100 box-shadow"
          alt=""> </div>
      <!--end col-sm-6-->

      <!--begin col-md-6-->
      <div class="col-md-6">

        <!--begin small-column-inside-->
        <h2>CÁC CÂU HỎI THƯỜNG GẶP</h2>

        <!--begin accordion -->
        <div class="accordion" id="accordionFAQ">

          <!--begin card -->
          <div class="card">
            <div class="card-header" id="headingOne">
              <h5 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne"
                  aria-expanded="true" aria-controls="collapseOne"> <i class="fa fa-arrow-circle-right"></i> Gotadi là
                  ai? </button>
              </h5>
            </div>
            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionFAQ">
              <div class="card-body"> Gotadi.com - trang đặt vé máy bay và khách sạn trực tuyến đi vào hoạt động từ năm
                2014. <br>
                Chúng tôi tự hào là OTA duy nhất tại Việt Nam đã kết nối trực tiếp với bốn hãng hàng không trong nước
                bao gồm Vietnam Airlines, Vietjet Air, Jetstar Pacific và Bamboo Airways cùng 900 hãng hàng không quốc
                tế khác.<br>
                Chúng tôi cam kết giá đúng, minh bạch, dễ dàng so sánh giá của các hãng trên cùng một giao diện cùng
                phương thức thanh toán linh hoạt. <br>
                Riêng về kết nối khách sạn trong nước, với hệ thống Extranet hoàn chỉnh, cho phép CSLT có thể đăng thông
                tin bán phòng trên trang Gotadi.com. <br>
                Chúng tôi tin tưởng về cơ hội hợp tác tốt đẹp cùng Quý CSLT trong thời gian tới! </div>
            </div>
          </div>
          <!--end card -->

          <!--begin card -->
          <div class="card">
            <div class="card-header" id="headingTwo">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo"
                  aria-expanded="false" aria-controls="collapseTwo"> <i class="fa fa-arrow-circle-right"></i> Đăng ký
                  bán phòng trên Gotadi như thế nào? </button>
              </h5>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionFAQ">
              <div class="card-body"> Hoàn toàn dễ dàng và miễn phí.
                Để ĐĂNG KÝ chỉ cần cung cấp thông tin cơ bản về nơi lưu trú, thông tin liên hệ của mình, Chúng tôi sẽ
                giúp bạn hoàn tất quy trình thiết lập và bàn giao tài khoản quản lý sau khi Quý CSLT kiểm duyệt, sẵn
                sàng mở bán và nhận khách. </div>
            </div>
          </div>
          <!--end card -->

          <!--begin card -->
          <div class="card">
            <div class="card-header" id="headingThree">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree"
                  aria-expanded="false" aria-controls="collapseThree"> <i class="fa fa-arrow-circle-right"></i> Chính
                  sách hoa hồng ra sao? CSLTS được lợi ích gì? </button>
              </h5>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionFAQ">
              <div class="card-body"> Gotadi đảm bảo quyền lợi của CSLT thông qua việc đề xuất mức hoa hồng được quy
                định rõ trong Hợp đồng. Hoa hồng chỉ áp dụng khi đặt phòng được xác nhận thành công và không phát sinh
                các thay đổi ảnh hưởng đến điều khoản chung.<br>
                Gotadi đảm bảo chính sách hỗ trợ giá bán cho khách sạn thông qua các chương trình khuyến mãi dành cho
                khách hàng của Gotadi, khách hàng có được giá tốt hơn so với thị trường nhưng đảm bảo không giảm lợi ích
                của khách sạn.<br>
                Gotadi đảm bảo CSLT được tiếp cận khách hàng chiến lược và chất lượng của Gotadi thông qua các kênh
                quảng bá, truyền thông hiệu quả. </div>
            </div>
          </div>
          <!--end card -->

          <!--begin card -->
          <div class="card">
            <div class="card-header" id="headingFour">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour"
                  aria-expanded="false" aria-controls="collapseFour"> <i class="fa fa-arrow-circle-right"></i> Quy trình
                  thanh toán ra sao? </button>
              </h5>
            </div>
            <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionFAQ">
              <div class="card-body"> Để thuận tiện cho CSLT, Gotadi áp dụng các điều khoản thanh toán linh hoạt, trong
                đó có thể thực hiện thanh toán trong vòng 3 ngày sau khi booking được xác nhận hoặc thanh toán ngay đối
                với các đặt phòng cận ngày nhận phòng. </div>
            </div>
          </div>
          <!--end card -->
          <!--begin card -->
          <div class="card">
            <div class="card-header" id="headingFour">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour"
                  aria-expanded="false" aria-controls="collapseFour"> <i class="fa fa-arrow-circle-right"></i> Đội ngũ
                  hỗ trợ của Gotadi ? </button>
              </h5>
            </div>
            <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionFAQ">
              <div class="card-body"> Trong bất kỳ trường hợp nào cần sự trợ giúp, đội ngũ 24/7 của chúng tôi luôn sẵn
                sàng và tận tâm để hỗ trợ Quý CSLT để đảm bảo sự vận hành và hợp tác đạt hiệu quả cao nhất. </div>
            </div>
          </div>
          <!--end card -->

        </div>
        <!--end accordion -->

      </div>
      <!--end col-sm-6-->

    </div>
    <!--end row-->

  </div>
  <!--end container-->

</section>
<!--end section-white -->



<!--begin contact -->
<!--<section class="section-white no-padding section-top-border padding-bottom-50" id="contact" style="background-image:url(images/banner.jpg)"> 
  <div class="container"> 
    
    <div class="row margin-top-70">
      <div class="newsletter_form_box text-center">
        <h2 class="margin-bottom-5">THÔNG TIN ĐĂNG KÝ HỢP TÁC BÁN PHÒNG</h2>
        <p class="text-dark">Trân trọng và vui mừng chào đón Quý cơ sở lưu trú trở thành đối tác của chúng tôi.</p>
        
        <p class="contact_success_box" style="display:none;">We received your message and you'll hear from us soon. Thank You!</p>
        
        <form id="contact-form" class="contact" action="php/contact.php" method="post">
          <input class="contact-input white-input" required name="contact_names" placeholder="Tên khách sạn / Cơ sở lưu trú*" type="text">
          <input class="contact-input white-input" required name="contact_add" placeholder="Địa chỉ*" type="text">
          <input class="contact-input white-input" required name="contact_phone" placeholder="Điện thoại*" type="text">
          <input class="contact-input white-input" required name="contact_email" placeholder="Email*" type="email">
          <input class="contact-input white-input" required name="contact_person" placeholder="Người liên hệ*" type="text">

          
          <a href="#contact" class="btn-blue scrool margin-top-10">GỬI ĐĂNG KÝ NGAY!</a>
        </form>
        
      </div>
    </div>
    
  </div>
  
</section>-->
<!--end contact-->

<!--begin footer -->
<div class="footer">

  <!--begin container -->
  <div class="container-fluid px-0">

    <!--begin row -->
    <div class="row">

      <!--begin col-md-12 -->
      <div class="col-md-12 footer-bottom text-center">
        <p>Copyright © 2016 Gotadi. All rights reserved</p>
      </div>
      <!--end col-md-6 -->

    </div>
    <!--end row -->

  </div>
  <!--end container -->

</div>